#Default port is 8761
server:
  port: 8761

eureka:
  instance:
    hostname: servicediscovery
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
        defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/